.brand-container {
  color: rgba(255,255,255,.9);
  background-color: var(--dark);
  border-bottom-color: rgba(255,255,255,.1);
}

.brand-header {
  margin: 0 -1.25rem;
  border-bottom: 1px solid ;
}
.brand-content {
  min-width: 15.625rem;
  margin-left: 1.25rem;
  margin-right: 0;
}

.brand-content img {
  height: 1rem;
  display: block;
}