.navbar {
  padding: 0 20px!important;
  z-index: 200;

  .navbar-collapse {
    margin: 0 17px;
    padding: 0 15px;
  }
}

.navbar-light {
  color: rgba(51,51,51,.85);
  background-color: var(--white);
}
